body,html {
    /* background-image: white; */
    background: white;
}

/* Removes navbar from homepage only */
.navbar { 
    display: none;
}

.head-text {
    position: relative;
    font-family: "Sinhala";
 }
 .text-on-image {
   position: absolute;
   width: 50%;
   right: 50%;
   left: 40%;
   bottom: 80%;
 }

.office-photo {
    /* position: relative; */
    width: 100%;

    /* width: 150%; */
    height:-200%;
    /* padding-left: -195%; */
    /* padding-top: -70px; */
    /* padding-bottom: 110px; */

}

body.home #navigation-top {
    display: none !important;
   }

/* .pageContainer {
    /* position: relative; */
  /*    min-height: 100vh;
} */

/* .right {
    float: right;
    width: 40vw;
    color: black;
}
                                          */
/* .headerPhoto {
    width: 45vw;
    position: absolute;
    left: 2vw;
    top: 2vh;

} */

/* .flex-item-left {
    flex: 50%;
} */

/* .background {
    width: 500px;
    height: 250px;
} */

/* .text {
    font-family:'Sinhala';
    position: absolute;
    top: 50vh;
    left: 2vw;

}
 
.textContainer {
 
    position: relative;
    top: 60%;
    font-size: 40px;
    padding-left: 10px;
    color:white;
    max-width: 100%;   
} */
/* 
.left {
} */